@charset "utf-8";
/* CSS Document */
.productos .seccion {
	width: 95%;
    margin: 0 auto;
}

.productos .seccion .nombre_seccion{
	font-size: 16px;
    padding: 8px;
}

.productos .seccion .nombre_seccion a{
	font-size: 12px;
    padding: 10px;
	text-decoration: none;
	color: #B7282A;
}

.productos .seccion .nombre_seccion .nombre_menu{
	font-size: 13px;
    padding: 0px;
    font-family: gothic_bold;
}
.titulo_prod {
	background-color: #f7f7f7;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: gothic_bold;
    overflow: hidden;
	margin-bottom: 12px;
}
.productos #colecciones{
	width: 100%;
	overflow: hidden;	
}

.productos #colecciones .coleccion{
	width: 100%;
    overflow: hidden;
    padding: 6px;
}

.productos #colecciones .coleccion .enlinea{
	display: inline-block;
    padding: 5px 15px;
}

.productos #colecciones .coleccion .enlinea a{
	background-color: #616269;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 2px;
}
.subtitulo_prod {
	background-color: #dadada;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 15px;
    overflow: hidden;
    margin: 8px 0px;
}

.titulo_prod #nota{
	font-size: 11px;
    padding: 11px;
	color: #d3255c;
}

.item {
    padding: 12px 0px 0px 10px;
    font-size: 13px;
}

.item img{
    width: 50px;
}

.subtitulo {
	font-size: 13px;
    padding: 17px 0;
}

.subtitulo .mensaje{
	color: #d3255c;
    padding: 17px;
}

.select_submenu{
    background: #234797;
}

.fila {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px dotted #5A5A5A;
	padding: 8px 5px 8px 5px;
}

.none {
    display: block;
}    

.mob {
    display: none;
} 

.celda {
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}

.celda a{
	text-decoration: none;
	color: #B82A2C;
}

.bold{
	font-weight: bold;
	font-size: 12px;
}

.bold a{
	text-decoration: none;
	color: #d3255c;
}

.bold a:hover{
	text-decoration: underline;
}

.linea{
	font-size: 11px;
}

.num{
	width: 3%;
}

.tipo{
	width: 5%;
}

.usuario{
	width: 20%;
}

.empresa{
	width: 15%;
}

.contacto{
	width: 30%;
}

.cel{
	width: 15%;
}

.ruc{
	width: 15%;
}

.razon{
	width: 30%;
}

.cat{
	width: 20%;
}

.acciones{
	width: 10%;
}

.trabajo{
	width: 45%;
}

.total{
	width: 10%;
}

.deuda{
	width: 10%;
}

.boton {
    font-size: 13px;
    color: #fff;
    padding: 3px;
    background: #4c4c50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}



.centro{
	text-align: center;
	box-sizing: border-box;
}

.nota {
	text-transform: uppercase;
	font-size: 10px;
	color: #ca1417;
}

.msj {
	width: 100%;
	padding: 10px 0px 40px 0px;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.msj p{
	margin-top: 30px;
    margin-bottom: 40px;
}

.llena{
	width: 70%;
}

.productos {
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #e2e2e2;
	margin: 5px 5px 10px 5px;
	font-size: 13px;
}

.productos .codigo {
    float: left;
    width: 15%;
    text-align: center;
    font-size: 13px;
}

.productos .codigo p{
	padding: 5px;
}

.productos .nombre {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 13px;
}

.productos .nombre a {
    text-decoration: none;
    color: #333;
}

.productos .imagen {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 13px;
}

.productos .imagen img{
    width: auto;
    height: 100px;
}

.productos .precio {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 13px;
}

.productos .precio p{
	padding: 5px;
}

.productos .stock {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 13px;
}

.productos .stock p{
	padding: 5px;
}

.productos .estado {
    float: left;
    width: 15%;
    text-align: center;
    font-size: 13px;
}

.productos .boton {
    font-size: 11px;
    padding: 6px;
    background-color: #5a5a5a;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    color: #fff;
    text-decoration: none;
}

.productos .editar {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 13px;
}

.productos .eliminar {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 13px;
}

.productos .titulo_tabla {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}

.productos .titulo_tabla a {
    text-decoration: none;
    color: #333;
}


.titmob {
	display: none;
}

.azul {
    background-color: #3cbca7 !important;
    height: 34px;
}

.titulo_form{
	font-size: 14px;
}

#edit_producto textarea {
    width: 99% !important;
    height: 250px;
    font-family: gothic_regular;
}
.detalle{
	font-size: 11px;
    padding: 10px;
}

.detalle .data{
	display: inline-block;
    box-sizing: border-box;
    height: auto;
    padding: 2px 0;
}

.detalle .data .titulo{
	display: inline-block;
}

.detalle .data .data_data{
	display: inline-block;
}

.detalle .data .data_data input{
	width: 120px;
}

.detalle .data .color{
	color: #C53133;
}

.detalle .data .nombre_color{
	background-color: #ffffff;
    border: 0;
	color: #8a8a8a;
	font-size: 15px;
}

.detalle .data img{
	width: 40px;
    height: 40px;
	margin-right: 15px;
}

.detalle .data input{
	width: 90px;
}

.detalle .data input[type='checkbox']{
	width: 25px;
}

.detalle .data input[type='number']{
	width: 70px;
}

.detalle .data input[type='submit'] {
    width: auto;
    font-size: 13px;
    color: #fff;
    padding: 3px;
    background: #4c4c50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#cuadro #edit_producto .botonera {
    font-size: 12px;
    padding: 15px;
    background-color: #F4F4F4;
    text-align: center;
}

#cuadro #edit_producto .botonera a {
    font-family: gothic_regular;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 6px;
    background-color: #43bcd1;
}

#cuadro #edit_producto .botonera .crear{
	font-size: 16px;
    color: #fff;
    padding: 9px;
    background: #4c4c50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cuadro #edit_producto #tallas{
	width: 100%;
}

#cuadro #edit_producto #tallas input[type="checkbox"]{
	width: 20px;
}

#cuadro #edit_producto #tallas input[type="text"]{
	width: 100px;
}

#cuadro #edit_producto #tallas input[type="number"]{
	width: 35px;
}

#cuadro #edit_producto #tallas .checktalla {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 4px;
}

#cuadro #edit_producto #tallas .checktalla .nombre_talla {
    float: left;
    width: 65px;
    height: 25px;
}

#cuadro #edit_producto .checktalla .check_item {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

#cuadro #edit_producto .datos .checktalla .adicno{
	display: none;
}

#cuadro #edit_producto .datos .checktalla .adicsi{
	display: block;
}

.producto {
	padding: 20px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.producto .datos {
    width: 100%;
    overflow: hidden;
}

.producto .datos .desc {
    width: 100%;
}

.producto .datos .desc .tit_prod {
    background-color: #fdfdfd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    float: none;
}

.producto .datos #fotos {
    float: none;
    overflow: hidden;
}

.producto .datos #fotos #muestra {
	width: 100%;
    padding: 5px 10px;
    overflow: hidden;
}

.producto .datos #fotos #muestra p{
    font-size: 14px;
    padding: 10px;

}

.producto .datos #fotos #muestra .fotoedit {
    width: 25%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px;
}

.producto .datos #fotos #muestra .fotoedit img{
	max-width: 100%;
}

.producto .datos #fotos #muestra .fotoedit .foto{
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px;
}

.producto .datos #fotos #muestra .fotoedit .actdes{
	box-sizing: border-box;
	padding: 3px;
}

.productos #color{
    width: 95%;
    margin: 0 auto;
}

.productos #color #titulo{
    font-family: gothic_bold;
    font-size: 16px;
    padding: 17px 0px;
}

.productos #color .nombre_color{
	font-size: 16px;
    padding: 8px;
}

.productos #color .nombre_color a{
	font-size: 12px;
    padding: 16px;
	text-decoration: none;
	color: #B7282A;
}

.sindatos {
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {

.detalle .data{
	display: block;
	margin: 5px;
}

.titmob {
    display: block;
    width: 100%;
    background-color: #eaeaea;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 0px 10px 0px;
    text-align: left;
    float: none;
    overflow: hidden;
}

.titulo {
    font-size: 20px;
	padding: 18px 0px 0px 26px;
}

.subtitulo {
    font-size: 14px;
}

.item {
    padding: 20px 0px 0px 5px;
    font-size: 11px;
}

.none {
    display: none;
}    

.mob {
    display: block;
} 

.mobile{
	display: none;
}

.celda {
	float: none;
}

.num {
    width: 10%;
    display: inline;
}

.tipo {
    width: 90%;
    display: inline;
}

.boton {
	font-size: 14px;
	padding: 7px;
}

.llena{
	width: 90%;
}

.productos .codigo {
    float: none;
    width: 100%;
}

.productos .nombre {
    float: none;
    width: 100%;
}

.productos .imagen {
    float: none;
    width: 100%;
}

.productos .precio {
    float: none;
    width: 100%;
}

.productos .stock {
    float: none;
    width: 100%;
}

.productos .estado {
    float: left;
    width: 40%;
}

.productos .editar {
    float: left;
    width: 30%;
}

.productos .eliminar {
    float: left;
    width: 30%;
}

}
